@import "tailwindcss";

@theme inline {
  /* Font Family */
  --font-: ;
  
  /* Colors */
  --color-: ;
  --color-: ;
  --color-: ;
  --color-: ;
}

@layer base {
  html, body {
    @apply w-full h-screen;
  }
}

@layer utilities {
  .flex-align-center {
    @apply flex items-center;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
}

@layer components {
  
}